@charset "UTF-8";
body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
    font-size: 2.4rem;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 1.4rem;
    }
}

body>main {
    overflow: hidden;
}

@supports (-ms-ime-align: auto) {
    body>main {
        overflow: hidden;
    }
}

.container-low {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.container-low2 {
    width: 100%;
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
}

@font-face {
    font-family: Helvetica, sans-serif;
    src: url('../assets/plugins/fonts/Helvetica.ttf');
}


/* 
@font-face {
    font-family: HiraginoSans, sans-serif;
    src: url('../assets/plugins/fonts/HiraginoSansGBW6.ttf');
} */


/* @font-face {
    font-family: "Hiragino Sans GB";
    src: url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.eot");
    src: url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.woff") format("woff"), url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.svg#Hiragino Sans GB") format("svg");
} */